body {
	//padding-top: 50px;
	padding-bottom: 40px;
}

.navbar {
	margin-bottom:0px;
}

.container {
	padding-left: 8px;
	padding-right: 8px;
}

.page-header {
	border: 0;
	margin-bottom: 10px;
	//margin-left: 8px;
}

#categories {
	margin-top:0px;
	ul {
		li {
			padding-left:0px;
			padding-right:15px;
		}
	}
}

.form-row {
	margin-bottom:10px;
	label {
		display:block;
	}
}

.form-action {
	margin-top: 25px;
	margin-bottom: 20px;
}

.alert {
	margin-bottom:5px;
}

#threads {
	td {
		white-space: nowrap;
	}
	td.t {
		width: 100%;
	}
	span {
		margin-right: 5px;
	}
}

#threads-phone {
	small {
		margin-right: 10px;
	}
	td {
		width: 700px;
	}
	span {
		margin-right: 10px;
	}

}

#posts {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	.post {
		border-top: 1px solid #ddd;
		h5, h4 {
			small {
				margin-left: 15px;
			}
		}
		.files {
			margin-bottom: 10px;
			.file {
				.img {
				}
			}
		}
		.t {
			clear: both;
			margin-bottom: 25px;
			pre {
				border: 0;
				background-color: white;
				margin: 0px;
				padding: 0px;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			img {
				vertical-align: top;
			}
		}
		.cmd {
			margin-bottom: 1em;
		}
	}
}
