body {
	padding-top: 50px;
	padding-bottom: 40px;
}

.submit-group {
	margin-top: 25px;
}

.thread-list {
	span {
		margin-right: 5px;
	}
}

.thread-list-phone {
	small {
		margin-right: 10px;
	}
	td {
		width: 700px;
	}
	span {
		margin-right: 10px;
	}

}

.posts {
	border-bottom: 1px solid #ddd;

	.post {
		border-top: 1px solid #ddd;
		.files {
			clear: both;
			margin-bottom: 1.5em;
			.file {
				margin-bottom: 0.3em;
				.img {
					margin-top: 0.3em;
					margin-bottom: 0.8em;
				}
			}
		}
		.writer {
			margin: 0.4em 2em 1.5em 0em;
			float: left;
			font-weight: bold;
		}
		.created {
			margin: 0.4em 2em 1.5em 0em;
			float: left;
			font-size: 85%;;
		}
		.text {
			clear: both;
			margin: 0em;
			margin-bottom: 1.5em;
			white-space: pre-wrap;
			word-wrap: break-word;
			img {
				vertical-align: top;
			}
		}
		.cmd {
			margin-bottom: 1em;
		}
	}
}
