body {
	//padding-top: 50px;
	padding-bottom: 40px;
}

.navbar {
	margin-bottom:0px;
}

.content {
	padding-left:5px;
	padding-right:5px;
}

.page-header {
	border: 0;
	margin-bottom: 10px;
	//margin-left: 8px;
}

#categories {
	margin-top:0px;
	hr {
		margin-bottom: 8px;
	}
	ul {
		li {
			padding-left:0px;
			padding-right:15px;
		}
	}
}

#threads {
	td {
		white-space: nowrap;
	}
	td.t {
		width: 100%;
	}
}

#threads-phone {
	small {
		margin-right: 10px;
	}
	td {
		width:1000px;
	}
	div.t {
		margin-bottom: 5px;
	}
}

.threads {
	margin-bottom: 20px;
}

.pager {
	text-align: left;
	margin-left:0px;
}

#posts {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	.post {
		border-top: 1px solid #ddd;
		h5, h4 {
			small {
				margin-left: 15px;
			}
		}
		.files {
			margin-bottom: 10px;
			.file {
				margin-bottom:3px;
				img {
					margin-top:3px;
				}
			}
		}
		.text {
			clear: both;
			margin-bottom: 25px;
			pre {
				font-family: monospace;
				font-size: 14px;
				border: 0;
				background-color: white;
				margin: 0px;
				padding: 0px;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			img {
				vertical-align: top;
			}
		}
		.cmd {
			margin-bottom: 1em;
		}
		.media-handle {
			margin-left:8px;
		}
		.media {
			color: #56C0E0;
		}
	}
}

form {
	.form-row {
		margin-bottom:10px;
		label {
			display:block;
		}
	}

	.form-action {
		margin-top: 25px;
		margin-bottom: 20px;
	}
	.file-group {
		.col {
			padding: 0px;
			margin-right: 5px;
		}
		.files {
			.file {
				margin-bottom: 5px;
				input[type=file] {
					width:100%;
				}
			}
		}
	}
	p.error {
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.alert {
		margin-bottom:5px;
	}
	textarea {
		font-family: monospace;
		-webkit-overflow-scrolling: auto;
	}
}

