extends ../layout/layout

block title
  title #{appName}

block content
  script.
    $(function () {
      userl.initLogin();
    });

  .section.page-title
    h1 Login

  .section
    form.main.login
      .sub-section
        .form-group
          label.control-label Password
          input.form-control(name='password', type='password')
        .checkbox
          label 
            input(name='remember', type='checkbox') 
            | Remember
      .sub-section
        .form-group
          button.btn.btn-primary(name='send') Login
