extends ../layout/layout

block head-opt
  title New Post - #{appName}

block content

  script.
    $(function () {
      postl.initNew();
    });

  .section.page-title
      h1 New Post

  .section
    form.main
      .sub-section
        .form-group
          select.form-control.short(name='cid')
            for c in user.categories
              option(value=c.id, selected=c.id==cid) #{c.name}
        .form-group
          label.control-label 이름
          input.form-control.short(type='text', name='writer', value='', maxlength='32')
        .form-group
          label.control-label 제목
          input.form-control(type='text', name='title', value='', maxlength='128')
        .form-group
          label.control-label 내용
          textarea.form-control(name='text', rows=10)
        .form-group
          label.control-label 첨부
          input.form-control(type='file', name='files', multiple='multiple')
          button.btn.btn-default.btn-mini.add-file +
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Send
