<% include layout/header %>

<script>
	l.init.init(function () {
		l.session.initLoginPage();
	});
</script>

<h1 class="page-header">Login</h1>
<form>
	<div class="control-group">
		<input name="password" type="password" class="span3" placeholder="password">
	</div>
	<div class="control-group">
		<label class="checkbox"><input name="remember" type="checkbox">remember password</label>
	</div>
	<div class="control-group">
		<button name="submit" type="submit" class="btn">Submit</button>
	</div>
</form>


<% include layout/footer %>
