<% include layout/header %>

<script>
	l.init.init(function () {
		var tag = new l.Tag();
		tag.open('div', 'class', 'hide', 'id', 'head');
		tag.open('pre');
		tag.escape('hell world <beatuy></beatuy>');
		tag.close('pre');
		tag.open('a', 'href', 'http://somewhare', 'good link');
		tag.open('a', 'better link');
		tag.open('img', 'src', 'address');
		tag.close('div');
		console.log(tag.toString());

		console.log(new l.Tag().open('html').open('body').toString());
	});

	$(function() {
		$('#board').after($('<span>click me</span>').click(function () { console.log('clicked'); }).text('click meme'));
	});
</script>

<h1 class="page-header">Test</h1>

<p id="board">this is board</p>

<% include layout/footer %>
