.ac-link a {
  color: #333333;
}
.section {
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0px 8px;
}
.sub-section {
  margin-bottom: 30px;
}
.page-title {
  margin-top: 30px;
}
.page-title a {
  color: #333333;
}
.page-footer {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}
.page-footer ul {
  margin: 0px;
}
.page-footer ul li {
  padding-left: 0px;
  padding-right: 9px;
}
pre.error-report {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  border: 0;
  border-top: 1px solid #eeeeee;
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  white-space: nowrap;
}
.modal-body p {
  white-space: nowrap;
  overflow: scroll;
}
form.main textarea {
  font-family: monospace;
  -webkit-overflow-scrolling: auto;
}
form.main input[type="file"] {
  margin-bottom: 3px;
}
form.main .short {
  max-width: 320px;
}
form.main p.error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
form.main .alert {
  margin-bottom: 5px;
}
.threads {
  padding: 0px 0px;
}
@media (min-width: 768px) {
  .threads td {
    white-space: nowrap;
  }
  .threads td.t {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .threads td {
    width: 767px;
  }
  .threads div.t {
    margin-bottom: 3px;
  }
  .threads small {
    margin-right: 10px;
  }
}
.search-results {
  padding: 0px 0px;
}
.search-results .t h4 {
  margin-top: 2px;
}
.search-results .tx {
  margin-bottom: 5px;
  word-break: break-all;
}
.search-results .i {
  margin-bottom: 5px;
}
.search-results .i span {
  margin-right: 10px;
}
.posts {
  padding: 0px 0px;
  border-bottom: 1px solid #ddd;
}
.posts .post {
  border-top: 1px solid #ddd;
  padding-left: 8px;
  padding-right: 8px;
}
.posts .post h5 small,
.posts .post h4 small {
  margin-left: 15px;
}
.posts .post .files {
  margin-bottom: 10px;
}
.posts .post .files .file {
  margin-bottom: 3px;
}
.posts .post .files .file img {
  margin-top: 3px;
}
.posts .post .text {
  clear: both;
  margin-bottom: 25px;
}
.posts .post .text pre {
  font-family: monospace;
  font-size: 14px;
  border: 0;
  background-color: white;
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.posts .post .text img {
  vertical-align: top;
}
.posts .post .cmd {
  margin-bottom: 1em;
}
.posts .post .media-show-btn {
  margin-left: 8px;
}
.posts .post .media {
  color: #56C0E0;
}
.btn-mini {
  padding: 1px 6px 1px 6px;
  font-size: 11px;
}
.commands {
  clear: both;
  overflow: auto;
}
.commands .left {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.commands .right {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
