@font-size: 16px;
@color: #333;
@dim-color: lighten(@color, 50%);
@margin: 40px;
@width: 640px;

// basic layout

body {
}

.ac-link { // achromatic color link
  a {
    color: @color;
  }
}

.section {
  margin-top: 0px;
  margin-bottom: @margin;
  padding: 0px 8px;
}

.sub-section {
  margin-bottom: @margin * 0.6;
}

.page-title {
  .ac-link;
  margin-top: @margin
}

.page-footer {
  margin-top: @margin;
  margin-bottom: @margin;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  ul {
    margin: 0px;
    li {
      padding-left:0px;
      padding-right:9px;
    }
  }
}

// error

pre.error-report {
  margin: 0px;

  padding: 0px;
  padding-top: 5px;

  border: 0;
  border-top: 1px solid #eeeeee;

  text-align: left;
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  white-space: nowrap;
}

.modal-body {
  p {
    white-space: nowrap;
    overflow: scroll;
  }
}

// form

form.main {
  .form-row {
    margin-bottom:10px;
  }
  .form-actions {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .file-group {
    .col {
      padding: 0px;
      margin-right: 5px;
    }
    .files {
      .file {
        margin-bottom: 5px;
        input[type=file] {
          width:100%;
        }
      }
    }
  }
  p.error {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .alert {
    margin-bottom:5px;
  }
  textarea {
    font-family: monospace;
    -webkit-overflow-scrolling: auto;
  }
}

// login

form.login {
  max-width: 320px;
}

// posts

.threads {
  //margin-bottom: 20px;
}

.threads-lg {
  td {
    white-space: nowrap;
  }
  td.t {
    width: 100%;
  }
}

.threads-sm {
  td {
    width:1000px;
  }
  div.t {
    margin-bottom: 3px;
  }
  small {
    margin-right: 10px;
  }
}

.posts {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  .post {
    border-top: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
    h5, h4 {
      small {
        margin-left: 15px;
      }
    }
    .files {
      margin-bottom: 10px;
      .file {
        margin-bottom:3px;
        img {
          margin-top:3px;
        }
      }
    }
    .text {
      clear: both;
      margin-bottom: 25px;
      pre {
        font-family: monospace;
        font-size: 14px;
        border: 0;
        background-color: white;
        margin: 0px;
        padding: 0px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      img {
        vertical-align: top;
      }
    }
    .cmd {
      margin-bottom: 1em;
    }
    .media-handle {
      margin-left:8px;
    }
    .media {
      color: #56C0E0;
    }
  }
}

.search-results {
  .t {
    h4 {
      margin-top: 2px;
    }
  }
  .tx {
    margin-bottom: 5px;
    word-break: break-all;
  }
  .i {
    margin-bottom: 5px;
    span {
      margin-right: 10px;
    }
  }
}

.pager {
  margin-left: -6px;
  text-align: left;
}

.pagination {
  margin: 0px;
  margin-left: -1px;
}

.btn-mini {
  padding: 1px 6px 1px 6px;
  font-size: 11px;
}