doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')

    block title

    link(rel='icon', type='image/png', href='/modules/favicon/favicon1.png')

    link(rel='stylesheet', href='/modules/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/modules/css/base.css')

    script(src='/modules/bower/json2/json2.js')
    script(src='/modules/bower/jquery/dist/jquery.min.js')
    script(src='/modules/bower/bootstrap/dist/js/bootstrap.min.js')

    script(src='/modules/js/base.js')
    script(src='/modules/js/user.js')
    script(src='/modules/js/post.js')

  body
  
    .container

      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle navigation
            |         
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='/posts') #{appName}
        #navbar-collapse.collapse.navbar-collapse
          if locals.user
            form.navbar-form.navbar-right
              button#logout-btn.btn.btn-default(type='button') Logout

      block content

      if locals.user
        .page-footer
          ul.list-inline
            li: a(href='/threads') all
            for c in user.categories
              li: a(href='/posts?c=' + c.id) #{c.name}

    #error-modal.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title
          .modal-body
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Close
