extends layout

block title
	title #{siteTitle}

block content
	script
		init.add(function () {
			session.initLoginPage();
		});

	#content
		.page-header
			h1 Login

		form
			.control-group.row
				label.col-span-4 Password
					input(name='password', type='password')
			.control-group.checkbox
				label Remember
					input(name='remember', type='checkbox')
			.control-group.submit-group
				button.btn.btn-primary(name='submit', type='submit') Sign in
