extends layout

block content
	script
		l.init(function () {
			l.session.initLoginPage();
			});
	#content
		form
			.control-group
				input.span3(name='password', type='password', placeholder='password')
			.control-group
				label.checkbox
					input(name='remember', type='checkbox')
					span remember password
			.control-group
				button.btn(name='submit', type='submit') Submit

