extends layout

block title
	title #{siteTitle}

block content
	script
		init.add(function () {
			session.initLogin();
		});

	#login-sec.container.hide
		.page-header
			h2 Login

		form#login-form
			.form-row
				label Password
				input.col-lg-3(name='password', type='password')
			.checkbox
				label Remember
				input(name='remember', type='checkbox')
			.form-action
				button.btn.btn-primary(name='submit', type='submit') Login
