!!! 5
html
	head
		meta(charset='utf-8')

		block title

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')

		link(rel='shortcut icon', href='/image/favicon1.ico', type='image/x-icon')

		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/base.css')

		script(src='/lib/es5-shim.min.js')
		script(src='/lib/json2.js')
		script(src='/lib/jquery.min.js')
		//script(src='/lib/jquery.simpleplaceholder.js')
		script(src='/lib/bootstrap/js/bootstrap.min.js')
		script(src='/lib/superagent.js')
		script(src='/lib/spin.min.js')
		//script(src='/lib/URI.js')

		script(src='/js/base.js')
		script(src='/js/ui.js')
		script(src='/js/session.js')
		//script(src='/js/post.js')
		//script(src='/js/search.js')

	body
		// navbar
		.navbar.navbar-fixed-top
			.container
				.col-offset-2
					if role
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						ul.nav
							li
								a(href='/thread')= siteTitle
							li.divider
							li
								a(href='/logout') logout
							// all 카테고리 때문에 New 버튼 표시를 분기하는 것은 쉽지 않다
							li.divider
							li
								button.btn.btn-primary(onclick="location='/thread/new?c={category.id}'; return false;") New
						.nav-collapse.collapse
							form.navbar-form.pull-right
									input(type='text', placeholder='Search')
									button.btn(type="submit") Submit
					else
						ul.nav
							li
								a(href='/')= siteTitle

		// category
		.container
			.row
				.col-span-2
					if locals.category
						#category.well.well-small.hidden-phone(style='margin-top: 100px;')
							ul.nav.nav-list
								| {#role.readableCategory curCategoryId=category.id}
								| {@if cond="{id} === {curCategoryId}"}
								li.active
									| {:else}
									li
										| {/if}
										| {@if cond="{id} === 0"}
										a(href='/thread') {name}
										| {:else}
										a(href='/thread?c={id}') {name}
										| {/if}
									| {?sep}
									| {@sep}
									li.divider
									| {/sep}
									| {/sep}
									| {/role.readableCategory}
						#category-phone.visible-phone
							.btn-group
								a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
									| {category.name}{~s}
									span.caret
								ul.dropdown-menu
									| {#role.readableCategory}
									li
										| {@if cond="{id} === 0"}
										a(href='/thread') {name}
										| {:else}
										a(href='/thread?c={id}') {name}
										| {/if}
									| {?sep}
									| {@sep}
									li.divider
									| {/sep}
									| {/sep}
									| {/role.readableCategory}
				.col-span-10

					block content

		#error-modal.modal
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
						h4.modal-title Modal title
					.modal-body
						p
					.modal-footer
						a.btn Close
						a.btn.btn-primary Save changes